@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

body {
    /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(29, 134, 156, 1) 100%); */
    /* background-image: url("https://www.wallpaperflare.com/static/181/148/968/monkey-blurred-cold-animals-wallpaper.jpg"); */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 62%, rgba(26,168,196,1) 100%); 
    /* background-repeat: no-repeat;
    background-size: cover; */
}

b {
    display: block;
    text-transform: uppercase;
    margin: 6px 0;
}

span {
    font-size: 15px;
}

#msg {
    padding: 10px;
}

#conteudo {
    padding: 10px;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: #301934;
    scroll-behavior: smooth;
}

.msg {
    border-bottom: 1px solid #f3f3f3;
    padding: 6px 0;
    display: block;
}

.msg b {
    display: block;
}

.cont {
    margin: auto;
    width: 80rem;
    background-color: whitesmoke;
    border-radius: 1rem;
}

.inputs {
    margin: auto;
    max-width: 80rem;
    margin-top: 0.5rem;
    background-color: #301934;
    padding: 10px;
    border-radius: 1rem;
}

header {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

.txtbox {
    width: 92%;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
}

.botao {
    text-align: center;
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: none;
    color: black;
}

.botao:hover {
    background: #949494;
    color: #174ea6;
}

.eu {
    display: flex;
    margin: 7px 10px;
    border-radius: 5px;
    -webkit-box-align: baseline;
    align-items: baseline;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
}


.outros {
    display: flex;
    margin: 7px 10px;
    text-align: left;
    border-radius: 5px;
    -webkit-box-align: baseline;
    align-items: baseline;
    align-content: flex-start;
    flex: 1;
}

.hoho {
    background: #f7f7f7;
    padding: 7px 10px;
    border-radius: 8px;
}

.self {
    background: #22cc92;
    color: #fff;
}

.bo {
    display: block;
    padding: 6px 0;
}

.hour {
    margin-top: 15px;
    font-size: small;
    color: gray;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #a68eff);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .12) 0 3px 13px 1px;
}


@media only screen and (max-width: 600px) {
    header {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: whitesmoke;
    }
    .inputs {
        margin: auto;   
        max-width: 25rem;
        margin-top: 0.5rem;
        background-color: #301934;
        padding: 10px;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    .cont {
        margin: auto;
        width: 25rem;
        background-color: whitesmoke;
        border-radius: 1rem;
    }
    #conteudo {
        padding: 10px;
        max-height: 80vh;
        overflow-y: scroll;
        background-color: #301934;
        scroll-behavior: smooth;
    }
    .txtbox {
        width: 85%;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
    }
    
    .botao {
        text-align: center;
        outline: none;
        padding: 0.5rem;
        border-radius: 1rem;
        border: none;
        color: black;
    }
    
    .botao:hover {
        background: #949494;
        color: #174ea6;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 1px;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
}
@media only screen and (min-width: 600px) {
    header {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: whitesmoke;
    }
    .inputs {
        margin: auto;   
        max-width: 30rem;
        margin-top: 0.5rem;
        background-color: #301934;
        padding: 10px;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    .cont {
        margin: auto;
        width: 30rem;
        background-color: whitesmoke;
        border-radius: 1rem;
    }
    #conteudo {
        padding: 10px;
        max-height: 80vh;
        overflow-y: scroll;
        background-color: #301934;
        scroll-behavior: smooth;
    }
    .txtbox {
        width: 85%;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
    }
    
    .botao {
        text-align: center;
        outline: none;
        padding: 0.5rem 0.7rem;
        border-radius: 1rem;
        border: none;
        color: black;
    }
    
    .botao:hover {
        background: #949494;
        color: #174ea6;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 1px;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    header {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: whitesmoke;
    }
    .inputs {
        margin: auto;   
        max-width: 40rem;
        margin-top: 0.5rem;
        background-color: #301934;
        padding: 10px;
        border-radius: 1rem;
    }
    .cont {
        margin: auto;
        width: 40rem;
        background-color: whitesmoke;
        border-radius: 1rem;
    }
    #conteudo {
        padding: 10px;
        max-height: 80vh;
        overflow-y: scroll;
        background-color: #301934;
        scroll-behavior: smooth;
    }
    .txtbox {
        width: 89%;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
    }
    
    .botao {
        text-align: center;
        outline: none;
        padding: 0.5rem 0.7rem;
        border-radius: 1rem;
        border: none;
        color: black;
    }
    
    .botao:hover {
        background: #949494;
        color: #174ea6;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 1px;
        background-color: black;
        color: white;
        text-align: center;
    }
} 
@media only screen and (min-width: 950px) {
    header {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: whitesmoke;
    }
    .inputs {
        margin: auto;   
        max-width: 50rem;
        margin-top: 0.5rem;
        background-color: #301934;
        padding: 10px;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    .cont {
        margin: auto;
        width: 50rem;
        background-color: whitesmoke;
        border-radius: 1rem;
    }
    #conteudo {
        padding: 10px;
        max-height: 80vh;
        overflow-y: scroll;
        background-color: #301934;
        scroll-behavior: smooth;
    }
    .txtbox {
        width: 89%;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
    }
    
    .botao {
        text-align: center;
        outline: none;
        padding: 0.5rem 1.4rem;
        border-radius: 1rem;
        border: none;
        color: black;
    }
    
    .botao:hover {
        background: #949494;
        color: #174ea6;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 1px;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
}
@media only screen and (min-width: 1200px) {
    .header {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: whitesmoke;
    }
    .inputs {
        margin: auto;   
        max-width: 70rem;
        margin-top: 0.5rem;
        background-color: #301934;
        padding: 10px;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    .cont {
        margin: auto;
        width: 70rem;
        background-color: whitesmoke;
        border-radius: 1rem;
    }
    #conteudo {
        padding: 10px;
        max-height: 80vh;
        overflow-y: scroll;
        background-color: #301934;
        scroll-behavior: smooth;
    }
    .txtbox {
        width: 92%;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
    }
    
    .botao {
        text-align: center;
        outline: none;
        padding: 0.5rem 1.4rem;
        border-radius: 1rem;
        border: none;
        color: black;
    }
    
    .botao:hover {
        background: #949494;
        color: #174ea6;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 1px;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
}