{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'titulo' %}{% endblock %}</title>
</head>
<body>
    {% bootstrap_css %}
    <nav>
        <a href="">home</a>
        <a href="">aluno</a>
        <a href="">login</a>
    </nav>
    <div class="container">
    {% block 'conteudo' %}
        
    {% endblock %}
    </div>
</body>
</html>