*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
.menuzin a{
    color: black;
}
.menuzin{
    background-color: antiquewhite;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
}