{% extends 'yeld.html' %}

{% block 'titulo' %} Home {% endblock %}

{% block 'conteudo' %}
    <h2>Login</h2>
    {% bootstrap_message %}
    <form action="" method="post" class="form">
        <div class="mb-3">
          <label class="form-label">Usuário</label>
          <input type="text" class="form-control" name="Login" placeholder="Digite seu Usuário">
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" class="form-control" name="Senha" placeholder="Digite sua senha">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href=''>Fazer cadastro</a>
      </form>
{% endblock %}
