@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: url("https://images.hdqwalls.com/download/peaceful-blur-background-1x-1920x1080.jpg") no-repeat 0 0;
    height: 100%;
}

b {
    display: block;
    text-transform: uppercase;
    margin: 6px 0;
}

span {
    font-size: 15px;
}

#msg {
    padding: 10px;
}

#conteudo {
    padding: 10px;
    max-height: 80vh;
    overflow-y: scroll;
}

.msg {
    border-bottom: 1px solid #f3f3f3;
    padding: 6px 0;
}
.cont{
    width: 80rem;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 1rem;
}
footer{
    max-width: 80rem;
    margin: auto;
    margin-top: 1rem;
}
header{
    text-align: center;
}
.txtbox{
    width: 50%;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
}

.botao{
    text-align: center;
    width: 7%;
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: none;
}

.botao:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.botao:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.botao:focus {
  outline: none;
  border: 2px solid #4285f4;
}


  
